@charset "UTF-8";

html {
    font-size: 48%;
}

body {
    min-width: 375px;
}

.inner {
    padding: 0 30px;
}


#map,
#f3,
header .right a:nth-child(1),
.hoverslide .icons8,
.go-top,
.modal-inner>ul>li>ul>li>a,
.container p br,
.sec4 .bottom .left img,
.sec1 .intro a {
    display: none;
}

.sec1 .intro h1 {
    font-size: 20px;
    white-space: nowrap;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 0;
}

.sec4 .bottom>* {
    padding: 50px 30px;
}

.sec4 .bottom a {
    width: 120px;
}

.sec1 .intro a {
    bottom: 20px;
}

.sec2 {
    padding: 50px 0 150px 0;
}

.hoverslide {
    flex-direction: column;
}

.hoverslide>* {
    padding-top: 20px;
}

.hoverslide .box {
    width: 100%;
}

.hoverslide .box.b04 button,
.hoverslide .box.b03 button,
.hoverslide .box.b02 button,
.hoverslide .box.b01 button {
    margin-bottom: 20px;
}

.bn2 {
    flex-direction: column;
}

.bn2 p {
    flex-direction: column;
}

.bn2 p span {
    margin-bottom: 10px;
}

.bn2 .txt {
    margin-right: 0;
}

.bn2 a {
    margin-top: 10px;
}

.award img {
    width: 100%;
}

.modal .right {
    right: 30px;
    top: 25px;
}

.modal-inner {
    margin-top: 200px;
    padding-right: 30px;
    text-align: right;
}

.modal-inner>ul>li {
    margin-top: 50px;
}

.container {
    left: 0;
}

.container .top p {
    white-space: nowrap;
}